@mixin button-link {
  text-decoration: none;
  background-color: var(--black);
  color: var(--white);
  padding: var(--s4);

  font-weight: bold;
  text-align: center;
  border-radius: 2px;
}

@mixin card {
  background-color: var(--card);
  padding: var(--s4);

  border-top: 1px solid var(--card-outer-border);
  border-bottom: 1px solid var(--card-outer-border);
}
