.action-queue {
  height: var(--action-queue-height);
  background-color: var(--white-100);

  align-items: center;

  display: flex;
  flex-direction: row-reverse;
  gap: var(--s4);

  overflow: hidden;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--s2);
}
