.button {
  margin: 0;
  padding: var(--s3);
  font-size: var(--b1);
  line-height: 1em;
  background-color: var(--black);
  color: var(--white);
  border: none;
  outline: none;
  font-weight: bold;

  &:disabled {
    color: var(--gray);
    opacity: 0.5;
  }
}
