body {
  margin: 0;
  font-family: system-ui;
  overscroll-behavior: none;

  background: var(--white);
  color: var(--black);
}

:root {
  --black: black;
  --white: white;

  // general sizes
  --s1: 0.125em;
  --s2: 0.25em;
  --s3: 0.5em;
  --s4: 1em;

  // body font sizes
  --b1: 1em;
  --b2: 1.2em;

  // header font sizes
  --h1: 2em;
  --h2: 1.66em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: white;
    --white: black;
  }
}

@media not (prefers-reduced-motion) {
  body {
    transition:
      background-color 0.25s ease,
      color 0.25s ease;
  }
}
