body {
  margin: 0;
  font-family: system-ui;
  overscroll-behavior: none;
}

:root {
  --black: black;
  --white: white;

  --s1: 0.125em;
  --s2: 0.25em;
  --s3: 0.5em;
  --s4: 1em;

  --b1: 1em;
  --b2: 1.2em;

  --h1: 2em;
}
