.tab-bar {
  font-size: var(--b2);

  --height: calc(var(--s4) * 3);
  --margin-bottom: env(safe-area-inset-bottom);

  box-sizing: border-box;
}

.fixed {
  position: fixed;
  bottom: 0;
  width: 100dvw;
  margin-bottom: var(--margin-bottom);
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;

  border-top: 2px solid var(--gray);
  margin-top: -2px;
}

.item {
  color: var(--black);
  text-decoration: none;
  width: calc(100dvw / 3.5);
  height: var(--height);
  flex: 0 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &--active {
    font-weight: bold;
  }
}
