.text {
  color: var(--black);
}

.b1 {
  font-size: var(--b1);
  line-height: var(--b1);
}

.b2 {
  font-size: var(--b2);
  line-height: var(--b2);
}

.invert {
  color: var(--white);
}

.bold {
  font-weight: bold;
}

.gray {
  color: var(--gray);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
