.b1 {
  color: var(--black);
  font-size: var(--b1);
  line-height: 1em;
}

.invert {
  color: var(--white);
}

.bold {
  font-weight: bold;
}

.gray {
  color: var(--gray);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
