.p {
  margin: 0;
  padding: var(--s4);
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: var(--s4);
  row-gap: var(--s4);
  align-items: center;
}

.label {
  color: var(--black);
  font-size: var(--b2);
}

.select {
  background-color: var(--black);
  border: none;
  outline: none;
  font-size: var(--b2);
  padding: var(--s2);
  font-weight: bold;
  color: var(--white);
  width: 100%;
  border-radius: 0;
}

.divider {
  border-top: 2px solid var(--black);
  margin: var(--s4);
}

.h2 {
  font-size: var(--h2);
  margin: var(--s4);
}
