.entity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--s4);
}

.recipe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--s3);
  align-items: center;
  margin: var(--s4);
}

.build-button {
  width: 100%;
}
