.row {
  margin: var(--s4);
}

.destroy-button {
  background: var(--black);
  border: none;
  outline: none;
  border-radius: 0;
  padding: var(--s3);
  font-size: unset;
  display: block;
  width: 100%;
}
