.grid {
  margin: var(--s4);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: var(--s4);
}

.building-name {
  margin: var(--s4);
  display: flex;
  gap: var(--s3);
}

.building-details {
  margin: var(--s4);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.recipe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--s3);
  align-items: center;
}
