@use 'src/core';

.card {
  @include core.card;
}

.card-header {
  @include core.card-header;
}

.card-content {
  @include core.card-content;
}

.card-content-inner {
  @include core.card-content-inner;
}

.card-toggle-group {
  display: flex;
}

.card-toggle {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: var(--s4);
}
