.card {
  background-color: var(--card);

  --border-size: 1px;

  border-color: pink;
  // border-top: var(--border-size) solid
  //   var(--card-outer-border);
  // border-bottom: var(--border-size) solid
  //   var(--card-outer-border);

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.card-inner {
  will-change: transform;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--s4);

  will-change: transform;
}

.card-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  will-change: opacity;
}

.card-content-inner {
  padding: var(--s4);
  padding-top: 0;
  flex-shrink: 0;
  display: flex;
  gap: var(--s4);
  flex-direction: column;
}

.toggle-group {
  display: flex;
}

.toggle {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: var(--s4);
}
